.footer {
  position: relative;
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  position: relative;
  z-index: 10;

  display: grid;
  align-items: stretch;
  align-self: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1400px) minmax(80px, 1fr);
  grid-template-rows: 1fr;
}

@media screen and (min-width: 1440px) {
  .grid-wrapper {
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  .grid-wrapper {
    grid-template-columns: minmax(65px, 1fr) minmax(auto, 1400px) minmax(65px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid-wrapper {
    grid-template-columns: minmax(36px, 1fr) minmax(auto, 1400px) minmax(36px, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1400px) minmax(20px, 1fr);
  }
}

.grid-wrapper.listings {
  overflow-y: auto;
  flex: 50%;
}

@media screen and (min-width: 1920px) {
  .grid-wrapper.listings {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--indicator-outline);
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.listings {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.no-padding {
    display: flex;
    grid-auto-columns: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.guest {
    grid-template-columns: minmax(20px, 1fr);
  }
}

.horizontal-line {
  height: 1px;
  flex: 1;
  background-color: var(--indicatorOutline-59b47200);
}

.horizontal-line.left {
  margin-left: 80px;
}

@media screen and (max-width: 991px) {
  .horizontal-line.left {
    margin-left: 65px;
  }
}

@media screen and (max-width: 767px) {
  .horizontal-line.left {
    margin-left: 0px;
  }
}

.horizontal-line.light {
  background-color: hsla(240, 17.55%, 78.98%, 0.45);
}

@media screen and (max-width: 479px) {
  .horizontal-line.light {
    display: none;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .horizontal-line.display-none {
    display: none;
  }
}

.footer-wrapper {
  display: grid;
  padding-top: 48px;
  padding-bottom: 12px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-wrapper {
    padding-right: 0px;
    padding-left: 0px;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    padding-left: 0px;
  }
}

.footer-pages {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 12px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;

  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer-pages {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .footer-pages {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.footer-destination-text {
  padding: 9px 14px;
  border-radius: 5px;
  background-color: var(--greyBackground-53c93696);
}

@media screen and (max-width: 767px) {
  .footer-destination-text {
    display: flex;
    padding-bottom: 18px;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--indicatorOutline-59b47200);

    background-color: transparent;
  }
}

@media screen and (max-width: 479px) {
  .footer-destination-text {
    padding-bottom: 12px;
  }
}

.footer-destinations {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 991px) {
  .footer-destinations {
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .footer-destinations {
    grid-auto-flow: row;
    grid-template-columns: auto auto;
  }
}

.footer-link {
  position: relative;

  display: flex;
  width: 100%;
  padding: 9px 14px;
  justify-content: center;
  align-items: center;

  color: var(--black-654be6b4);
  text-decoration: none;
}

.link-text {
  position: relative;
  z-index: 10;
}

.credit-text {
  color: var(--bodyDisplay-16f353f2);
  font-size: 12px;
}

#w-node-f6cb7662-2e8e-b732-31c0-1f9a59d49f93-59d49f91 {
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  align-self: start;
}
#w-node-_0313ac4f-0baf-452b-a290-5f7efbd43f5a-59d49f91 {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
}
#w-node-d8eb6401-e01b-7668-75ac-322d0c5697d4-59d49f91 {
  justify-self: stretch;
}
#w-node-e5c888a2-eb10-2880-4e59-4accf7e9e8e4-59d49f91 {
  align-self: start;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-dfd23af6-828d-947c-849f-db9f9e2ea42e-59d49f91 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 2;
  justify-self: end;
}
@media screen and (max-width: 991px) {
  #w-node-d8eb6401-e01b-7668-75ac-322d0c5697d4-59d49f91 {
    justify-self: center;
  }
  #w-node-dfd23af6-828d-947c-849f-db9f9e2ea42e-59d49f91 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: center;
  }
}
@media screen and (max-width: 479px) {
  #w-node-f6cb7662-2e8e-b732-31c0-1f9a59d49f93-59d49f91 {
    grid-column-end: 3;
  }
  #w-node-d8eb6401-e01b-7668-75ac-322d0c5697d4-59d49f91 {
    justify-self: stretch;
  }
}