.inner-page-hero {
  position: relative;

  display: flex;
  overflow: hidden;
  min-height: 800px;
  padding-top: 80px;
  padding-bottom: 0px;
  justify-content: center;

  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .inner-page-hero {
    min-height: 550px;
    padding-top: 65px;
  }
}

@media screen and (max-width: 479px) {
  .inner-page-hero {
    min-height: 525px;
  }
}

.grid-wrapper {
  position: relative;
  z-index: 10;

  display: grid;
  align-items: stretch;
  align-self: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1400px) minmax(80px, 1fr);
  grid-template-rows: 1fr;
}

@media screen and (min-width: 1440px) {
  .grid-wrapper {
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  .grid-wrapper {
    grid-template-columns: minmax(65px, 1fr) minmax(auto, 1400px) minmax(65px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid-wrapper {
    grid-template-columns: minmax(36px, 1fr) minmax(auto, 1400px) minmax(36px, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1400px) minmax(20px, 1fr);
  }
}

.grid-wrapper.listings {
  overflow-y: auto;
  flex: 50%;
}

@media screen and (min-width: 1920px) {
  .grid-wrapper.listings {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--indicator-outline);
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.listings {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.no-padding {
    display: flex;
    grid-auto-columns: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .grid-wrapper.guest {
    grid-template-columns: minmax(20px, 1fr);
  }
}

.inner-page-intro {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
  text-align: center;
}

@media screen and (max-width: 991px) {
  .inner-page-intro {
    width: 100%;
    justify-items: stretch;
  }
}

.hero-intro {
  display: grid;
  max-width: 750px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  text-align: center;
}

.subtitle {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subtitle.small {
  font-size: 8px;
}

.subtitle.white {
  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .subtitle.white.display-none {
    display: none;
  }
}

.subtitle.large {
  font-size: 14px;
}

.subtitle.green {
  color: var(--teal);
}

.xxl-heading {
  font-size: 68px;
  line-height: 1.1em;
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
  .xxl-heading {
    font-size: 54px;
  }
}

@media screen and (max-width: 767px) {
  .xxl-heading {
    font-size: 48px;
  }
}

@media screen and (max-width: 479px) {
  .xxl-heading {
    font-size: 42px;
  }
}

.body-display {
  color: var(--bodyDisplay-16f353f2);
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
}

.body-display.large {
  color: var(--bodyDisplay-16f353f2);
  font-size: 19px;
}

.body-display.small {
  font-size: 14px;
  line-height: 1.4em;
}

.body-display.small.through {
  text-decoration: line-through;
}

.body-display.small.dark {
  color: var(--black);
  font-weight: 700;
  text-decoration: underline;
}

.body-display.white {
  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

.hero-background-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/609dfa12a141dd6575976d82_Villa0017.avif");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-background-image.journal-hero-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5aca3e9f7fb12c5b9445_claire-rendall-rqckazRfbCs-unsplash.avif");
  background-size: cover;
}

.hero-background-image.about-intro-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb4a0ebc0d8f7407a48cf3_9USYbfMD250.avif");
  background-position: 50% 100%;
}

.hero-background-image.steps-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bf62f72160b678df1a37bb_UVyOfX3v0Ls.avif");
}

.hero-background-image.about-hero-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb467b49011f4d9e06ebb5_ikshana-productions-bVtcNC64Jgc-unsplash.avif");
  background-position: 50% 50%;
}

.hero-background-image.support-hero-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb707a03cd283bf3cf877a_greg-rivers-57jkWlrOKmY-unsplash.avif");
}

.hero-background-image.benefit-intro-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bf633c85128e9c1c85f24e_knhr826qIMA.avif");
}

.hero-background-image.password-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/609dfa12a141dd76b9976de3_031.avif");
}

.hero-background-image.guest-care {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb56a00c4201f72fff2734_2WcoiQ_C4b0.avif");
}

.hero-background-image.operations {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb56d4fa0bfc59b484cc07_qX8sSnd7c_M.avif");
}

.hero-background-image.transparency {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5740c10a40004f6e4b67_z4g28iJqKOM.avif");
}

.hero-background-image.growth {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb576c2ec870429dfbc11f_aChQ2cYg1ys.avif");
}

.hero-background-image.about-easy-stay {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/609dfa12a141dd4e9d976d8f_Villa032.avif");
  background-position: 50% 50%;
}

.hero-background-image.step-1 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5750d2b6c5269b9c3e1f_GLwp8InyT8Q.avif");
}

.hero-background-image.step-2 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb35df9564ce70feddb5ab_pccGXVm8XVM.avif");
}

.hero-background-image.step-3 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5aca3e9f7fb12c5b9445_claire-rendall-rqckazRfbCs-unsplash.avif");
}

.hero-background-image.step-4 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb4bcb5d76ab2e31d782cc_PS7SeQ-LELY.avif");
}

.overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.overlay.dark {
  background-color: hsla(229.56521739130437, 43.40%, 10.39%, 0.55);
}

.overlay.dark.absolute {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
}

.overlay.light {
  background-color: hsla(229.56521739130437, 43.40%, 10.39%, 0.35);
}

.overlay.extra-light {
  background-color: hsla(229.56521739130437, 43.40%, 10.39%, 0.05);
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#w-node-e6a726e2-1f5b-36e8-4f0e-42e5cc66403f-cc66403d {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
  align-self: center;
  justify-self: stretch;
}
#w-node-e6a726e2-1f5b-36e8-4f0e-42e5cc664040-cc66403d {
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  align-self: end;
  justify-self: center;
}
#w-node-e6a726e2-1f5b-36e8-4f0e-42e5cc664045-cc66403d {
}