.team-card {
  position: relative;

  display: grid;
  padding: 18px 18px 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-radius: 12px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  transition: box-shadow 500ms ease;

  color: var(--black-654be6b4);
  text-decoration: none;
}

.team-card:hover {
  z-index: 1;
  box-shadow: 0 12px 36px -8px var(--shaddow-332d46ce);
}

.team-image {
  position: relative;
  overflow: hidden;
  min-height: 250px;
  border-radius: 12px;
}

@media screen and (min-width: 1440px) {
  .team-image {
    min-height: 325px;
  }
}

@media screen and (min-width: 1280px) {
  .team-image {
    min-height: 275px;
  }
}

@media screen and (max-width: 991px) {
  .team-image {
    min-height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .team-image {
    min-height: 450px;
  }
}

@media screen and (max-width: 479px) {
  .team-image {
    min-height: 325px;
  }
}

.hero-background-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/609dfa12a141dd6575976d82_Villa0017.avif");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-background-image.journal-hero-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5aca3e9f7fb12c5b9445_claire-rendall-rqckazRfbCs-unsplash.avif");
  background-size: cover;
}

.hero-background-image.about-intro-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb4a0ebc0d8f7407a48cf3_9USYbfMD250.avif");
  background-position: 50% 100%;
}

.hero-background-image.steps-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bf62f72160b678df1a37bb_UVyOfX3v0Ls.avif");
}

.hero-background-image.about-hero-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb467b49011f4d9e06ebb5_ikshana-productions-bVtcNC64Jgc-unsplash.avif");
  background-position: 50% 50%;
}

.hero-background-image.support-hero-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb707a03cd283bf3cf877a_greg-rivers-57jkWlrOKmY-unsplash.avif");
}

.hero-background-image.benefit-intro-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bf633c85128e9c1c85f24e_knhr826qIMA.avif");
}

.hero-background-image.password-background {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/609dfa12a141dd76b9976de3_031.avif");
}

.hero-background-image.guest-care {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb56a00c4201f72fff2734_2WcoiQ_C4b0.avif");
}

.hero-background-image.operations {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb56d4fa0bfc59b484cc07_qX8sSnd7c_M.avif");
}

.hero-background-image.transparency {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5740c10a40004f6e4b67_z4g28iJqKOM.avif");
}

.hero-background-image.growth {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb576c2ec870429dfbc11f_aChQ2cYg1ys.avif");
}

.hero-background-image.about-easy-stay {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/609dfa12a141dd4e9d976d8f_Villa032.avif");
  background-position: 50% 50%;
}

.hero-background-image.step-1 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5750d2b6c5269b9c3e1f_GLwp8InyT8Q.avif");
}

.hero-background-image.step-2 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb35df9564ce70feddb5ab_pccGXVm8XVM.avif");
}

.hero-background-image.step-3 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb5aca3e9f7fb12c5b9445_claire-rendall-rqckazRfbCs-unsplash.avif");
}

.hero-background-image.step-4 {
  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb4bcb5d76ab2e31d782cc_PS7SeQ-LELY.avif");
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member-info {
  display: grid;
  padding-right: 18px;
  padding-left: 18px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.team-name {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.name {
  font-size: 18px;
  letter-spacing: -0.03em;
}

.team-location {
  color: var(--bodyDisplay-16f353f2);
}

#w-node-_4bfd7d21-06b5-ea21-7c46-6f6937ff7174-37ff7174 {
}