.stat-bar {
  display: flex;
  padding: 15px 10px 20px;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--indicator-outline);
  border-radius: var(--corner);

  transition: all 200ms ease;

  color: var(--body-display);
  text-decoration: none;
}

.stat-bar:hover {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
}

.lower-stat-bar {
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.properties {
  display: flex;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: var(--body-display);
}

.property-quantity {
  display: flex;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.property-value {
  text-transform: lowercase;
}

.stat-bar-right-side {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: var(--travel-green);
  text-align: right;
}

.subtitle {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subtitle.small {
  font-size: 8px;
}

.subtitle.white {
  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .subtitle.white.display-none {
    display: none;
  }
}

.subtitle.large {
  font-size: 14px;
}

.subtitle.green {
  color: var(--teal);
}