.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;

  display: flex;
  padding-right: 0vw;
  padding-left: 0vw;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px none var(--indicatorOutline-59b47200);

  background-color: var(--ghost-white);
}

.top-nav-wrapper {
  display: grid;
  width: 100%;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1400px) minmax(80px, 1fr);
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .top-nav-wrapper {
    grid-template-columns: minmax(60px, 1fr) minmax(auto, 1400px);
  }
}

@media screen and (max-width: 479px) {
  .top-nav-wrapper {
    grid-template-columns: minmax(60px, 1fr) minmax(auto, 1400px);
  }
}

.flyout-menu-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 20;

  display: none;
  width: 100%;

  background-color: hsla(216, 68.42%, 8.31%, 0.64);
}

.flyout-menu-content {
  position: relative;
  z-index: 10;

  overflow: scroll;
  width: 448px;
  max-width: 448px;
  padding: 116px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  background-color: hsla(228.00000000000006, 0.00%, 100.00%, 1.00);
}

.flyout-heading {
  padding-left: 80px;
}

.scroll-flyout-wrapper {
  overflow: auto;
  margin-right: 12px;
}

.vacation-continents {
  display: grid;
  padding: 0px 24px 36px 80px;
  flex-direction: column;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.flyout-info-box {
  display: grid;
  margin-top: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.subtitle-intro-wrapper {
  position: relative;
  z-index: 10;

  display: grid;
  grid-auto-columns: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .subtitle-intro-wrapper {
    display: flex;
  }
}

.subtitle {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subtitle.small {
  font-size: 8px;
}

.subtitle.white {
  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .subtitle.white.display-none {
    display: none;
  }
}

.subtitle.large {
  font-size: 14px;
}

.subtitle.green {
  color: var(--teal);
}

.horizontal-line {
  height: 1px;
  flex: 1;
  background-color: var(--indicatorOutline-59b47200);
}

.horizontal-line.left {
  margin-left: 80px;
}

@media screen and (max-width: 991px) {
  .horizontal-line.left {
    margin-left: 65px;
  }
}

@media screen and (max-width: 767px) {
  .horizontal-line.left {
    margin-left: 0px;
  }
}

.horizontal-line.light {
  background-color: hsla(240, 17.55%, 78.98%, 0.45);
}

@media screen and (max-width: 479px) {
  .horizontal-line.light {
    display: none;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .horizontal-line.display-none {
    display: none;
  }
}

.nav-link-dropdown {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 12px;
}

.nav-dropdown-toggle {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 18px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  flex: 1;

  border: 1px solid var(--indicator-outline);
  border-radius: 12px;

  background-color: var(--grey-background);
}

.card-arrow-icon {
  position: relative;
  z-index: 10;

  display: flex;
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--outline);
  border-radius: 100px;

  background-color: var(--indicator-outline);
}

.card-arrow-icon.dark {
  border-color: var(--indicatorOutline-59b47200);
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.vacation-card-arrow {
  width: 14px;
}

.nav-dropdown-list {
  position: relative;
}

.nav-dropdown-list:global(.w--open) {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: hsla(0, 0.00%, 86.67%, 0.00);
}

.nav-dropdown-link {
  display: flex;
  padding: 24px 18px 24px 22px;

  border: 1px solid var(--indicator-outline);
  border-radius: 12px;

  transition: all 200ms ease;

  color: var(--black);
  text-decoration: none;
}

.nav-dropdown-link:hover {
  background-color: var(--black);
  color: var(--ghost-white);
}

.continent-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.location-card {
  position: relative;

  display: grid;
  overflow: hidden;
  height: 100%;
  padding: 24px 18px 24px 24px;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;

  border: 1px solid var(--indicatorOutline-59b47200);
  border-radius: 4px;

  background-color: transparent;

  transition: box-shadow 400ms cubic-bezier(.25, .46, .45, .94);

  color: var(--black-654be6b4);
  text-decoration: none;
}

.location-card:hover {
  box-shadow: 0 12px 36px -8px var(--shaddow-332d46ce);
}

@media screen and (max-width: 479px) {
  .location-card {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.location-name {
  position: relative;
  z-index: 10;

  display: grid;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.location-name {
  margin-bottom: 4px;
  color: #333;
  font-weight: 600;
}

.subtitle-dynamic-text {
  position: relative;
  z-index: 10;

  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

.location-card-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  overflow: hidden;

  border-radius: 4px;

  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;
}

.overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.overlay.dark {
  background-color: hsla(229.56521739130437, 43.40%, 10.39%, 0.55);
}

.overlay.dark.absolute {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
}

.overlay.light {
  background-color: hsla(229.56521739130437, 43.40%, 10.39%, 0.35);
}

.overlay.extra-light {
  background-color: hsla(229.56521739130437, 43.40%, 10.39%, 0.05);
}

.quick-link-item {
  display: grid;
  padding: 18px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;

  border: 1px solid var(--indicatorOutline-59b47200);
  border-radius: 5px;

  background-color: var(--greyBackground-53c93696);

  transition: all 500ms cubic-bezier(.25, .46, .45, .94);

  color: var(--black-654be6b4);
  text-decoration: none;
}

.quick-link-item:hover {
  padding-left: 24px;
}

.quick-link-item.white {
  border: 1px solid var(--indicatorOutline-59b47200);
  background-color: hsla(228.00000000000006, 0.00%, 100.00%, 1.00);
}

.quick-link-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.close-flyout {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  cursor: pointer;
}

.left-nav {
  position: relative;
  z-index: 25;

  display: flex;
  width: 80px;
  height: 80px;

  border-right: 1px solid var(--indicatorOutline-59b47200);
  border-bottom: 1px solid var(--indicatorOutline-59b47200);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .left-nav {
    width: 65px;
    height: 65px;
    border-bottom-style: none;
  }
}

@media screen and (max-width: 767px) {
  .left-nav {
    z-index: 30;
  }
}

.flyout-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  border-right: 1px none var(--indicatorOutline-59b47200);
  border-bottom: 1px none var(--indicatorOutline-59b47200);

  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .flyout-menu {
    display: none;
  }
}

.flyout-menu.close {
  display: none;
}

.burger-wrapper {
  display: flex;
  min-height: 1rem;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.burger-line {
  width: 1.6rem;
  height: 2px;
  border-radius: 30px;
  background-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.navigation-content {
  position: relative;
  z-index: 15;

  display: flex;
  margin-left: 80px;
  padding-right: 0px;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  border-bottom: 1px none var(--indicatorOutline-59b47200);
}

@media screen and (min-width: 1920px) {
  .navigation-content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .navigation-content {
    height: 66px;
    margin-left: 65px;
    padding-right: 18px;
    padding-left: 18px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-content {
    padding-left: 6px;
  }
}

@media screen and (max-width: 479px) {
  .navigation-content {
    padding-left: 6px;
    justify-content: flex-end;
    align-items: center;
  }
}

.brand {
  z-index: 25;

  display: flex;
  max-width: 9rem;
  margin-right: 1rem;
  margin-left: 1rem;
  align-items: center;
  align-self: stretch;
  flex: 1;

  background-image: url("https://cdn.prod.website-files.com/609dfa12a141dd6e70976d48/68bb182ed1f36235b955a696_Easy%20Stay%20Retreasts%20Logo.avif");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;

  font-family: Eudoxussans;
  color: var(--black-654be6b4);
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-decoration: none;
  text-transform: uppercase;
}

.brand:global(.w--current) {
  align-self: stretch;
  flex: 1;
}

.nav-menu {
  position: relative;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 15;

    display: flex;
    height: 100vh;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: transparent;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    margin-top: 0px;
    margin-right: 0px;
    align-self: flex-start;
  }
}

.nav-menu-links {
  display: grid;
  justify-items: center;
  align-items: stretch;
  flex: 1;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .nav-menu-links {
    position: relative;
    z-index: 20;

    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: stretch;
    flex-wrap: nowrap;
    align-items: center;
    align-self: stretch;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;

    background-color: var(--greyBackground-53c93696);
  }
}

.link-cover {
  display: flex;
  max-height: 42px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: var(--greyBackground-53c93696);
}

@media screen and (max-width: 991px) {
  .link-cover {
    width: 100%;
    max-height: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: stretch;

    border-bottom: 1px solid var(--indicator-outline);
  }
}

@media screen and (max-width: 991px) {
  .link-cover.mobile-hide {
    display: none;
  }
}

.dropdown-toggle {
  padding-right: 60px;
  padding-left: 40px;
}

@media screen and (max-width: 991px) {
  .dropdown-toggle {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    align-self: stretch;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-toggle:global(.w--open) {
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .icon {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.dropdown-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .dropdown-text {
    display: flex;
  }
}

.dropdown-list {
  z-index: 10;
}

.dropdown-list:global(.w--open) {
  left: 0px;
  top: 2.5rem;
  right: 0px;

  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;

  background-color: var(--grey-background);
}

@media screen and (max-width: 991px) {
  .dropdown-list {
    position: relative;
    margin-top: 2px;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-list:global(.w--open) {
    top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-self: stretch;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-list:global(.w--open) {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: var(--dark-outline);
  }
}

.nav-link {
  position: relative;

  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 18px;
  justify-content: center;
  align-items: center;

  border-bottom: 2px none hsla(229.56521739130437, 43.40%, 10.39%, 0.00);

  color: var(--black-654be6b4);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: var(--dark-outline);
}

.nav-link:global(.w--current) {
  color: var(--black-654be6b4);
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding: 10px 60px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;

    border-bottom: 1px solid var(--indicatorOutline-59b47200);

    color: var(--bodyDisplay-16f353f2);
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    border-bottom: 1px solid var(--indicatorOutline-59b47200);
    border-top-style: none;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.link-text {
  position: relative;
  z-index: 10;
}

.mobile-destinations-wrapper {
  display: none;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .mobile-destinations-wrapper {
    position: relative;
    z-index: 20;
  }
}

@media screen and (max-width: 479px) {
  .mobile-destinations-wrapper {
    display: grid;
    padding: 30px 24px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

@media screen and (max-width: 479px) {
  .mobile-destinations {
    display: block;
    padding: 0px;
  }
}

@media screen and (max-width: 479px) {
  .mobile-destinations-list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 9px;
    grid-row-gap: 9px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .mobile-destination-link {
    width: 100%;
    padding: 18px 12px;

    border: 1px solid var(--indicatorOutline-59b47200);
    border-radius: 5px;

    color: var(--black-654be6b4);
    text-decoration: none;
  }
}

.right-nav {
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .right-nav {
    position: relative;
    z-index: 20;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .right-nav {
    grid-column-gap: 0px;
  }
}

@media screen and (max-width: 479px) {
  .right-nav {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .right-nav.mobile-hide {
    display: none;
  }
}

.nav-button {
  position: relative;
  z-index: 10;

  margin-right: 0px;
  margin-left: 0px;
  padding: 15px 20px;
  align-items: stretch;

  border: 1px solid var(--indicatorOutline-59b47200);
  border-radius: 3px;

  background-color: hsla(0, 0.00%, 100.00%, 0.02);

  color: var(--black-654be6b4);
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-button:global(.w--current) {
  transition: all 200ms ease;
}

.nav-button:global(.w--current):hover {
  background-color: var(--travel-green);
  color: var(--ghost-white);
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.mobile-navigation-shade {
  display: none;
}

@media screen and (max-width: 991px) {
  .mobile-navigation-shade {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;

    display: none;
    margin-top: 66px;

    background-color: hsla(217.05882352941174, 58.62%, 11.37%, 0.55);
  }
}

.navigation-shade {
  position: relative;

  display: flex;
  height: 100%;
  margin-left: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid var(--indicatorOutline-59b47200);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

#w-node-_2ff020b0-c55c-af86-3be0-da932b15be8e-d3468612 {
}
#w-node-_92abb93c-eb64-1a87-ea32-98e9c6f1d677-d3468612 {
  justify-self: stretch;
  align-self: start;
}
#w-node-_92abb93c-eb64-1a87-ea32-98e9c6f1d678-d3468612 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  justify-self: stretch;
}
#w-node-_92abb93c-eb64-1a87-ea32-98e9c6f1d67b-d3468612 {
  align-self: center;
  justify-self: stretch;
}
#w-node-dbf19352-223d-1d02-b17c-d44a0833ad20-d3468612 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 2;
  grid-column-end: span 2;
}
#w-node-ffcbbd46-2dcc-c9a3-247c-e8010583e24a-d3468612 {
}
#w-node-a30f774b-92c9-bdfd-5dfc-c47359e58ea1-d3468612 {
}
#w-node-_92abb93c-eb64-1a87-ea32-98e9c6f1d686-d3468612 {
  align-self: center;
}
#w-node-_79f06489-7e06-7f99-e512-95fb9ce71914-d3468612 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 2;
  justify-self: stretch;
}
#w-node-_79f06489-7e06-7f99-e512-95fb9ce71917-d3468612 {
  align-self: center;
  justify-self: stretch;
}
#w-node-c337708e-f5e7-c679-a917-6cf5873a8815-d3468612 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 2;
  grid-column-end: span 2;
}
#w-node-c337708e-f5e7-c679-a917-6cf5873a8816-d3468612 {
  align-self: center;
}
#w-node-c337708e-f5e7-c679-a917-6cf5873a8818-d3468612 {
  align-self: center;
}
#w-node-a4181ea1-b90f-dce7-1ff2-23e3139ba538-d3468612 {
  justify-self: stretch;
  align-self: start;
}
#w-node-a4181ea1-b90f-dce7-1ff2-23e3139ba539-d3468612 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-a4181ea1-b90f-dce7-1ff2-23e3139ba53c-d3468612 {
  align-self: center;
  justify-self: stretch;
}
#w-node-_121c17b8-01e3-a1aa-a4ea-5f82f370ad3f-d3468612 {
  align-self: center;
}
#w-node-_121c17b8-01e3-a1aa-a4ea-5f82f370ad41-d3468612 {
  align-self: center;
}
#w-node-_05569669-371a-21c1-ebc5-5114ef88dc9d-d3468612 {
}
#w-node-_05569669-371a-21c1-ebc5-5114ef88dc9e-d3468612 {
  align-self: center;
}
#w-node-_05569669-371a-21c1-ebc5-5114ef88dca0-d3468612 {
  align-self: center;
}
#w-node-_121c17b8-01e3-a1aa-a4ea-5f82f370ad44-d3468612 {
  align-self: center;
}
#w-node-_121c17b8-01e3-a1aa-a4ea-5f82f370ad46-d3468612 {
  align-self: center;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_121c17b8-01e3-a1aa-a4ea-5f82f370ad49-d3468612 {
  align-self: center;
}
#w-node-_69b0d3f6-d0cc-2db5-ee2d-841bd3468614-d3468612 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_199fb1dc-b4ea-99c3-f373-804a90f62445-d3468612 {
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_4f3de52d-435a-e06c-89eb-d73065ff7407-d3468612 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_4f3de52d-435a-e06c-89eb-d73065ff7415-d3468612 {
}
#w-node-b125d99d-9df6-b9e2-76fb-ce0982e13f22-d3468612 {
}
#w-node-b125d99d-9df6-b9e2-76fb-ce0982e13f30-d3468612 {
}
#w-node-_4a59f852-41bf-9100-21ba-09c186cccf0e-d3468612 {
  align-self: center;
  justify-self: stretch;
}
#w-node-_2a8aa310-babc-eed2-4d86-8309be309f42-d3468612 {
}
#w-node-c05fe523-5a2a-b171-9eca-362095d4bf72-d3468612 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media screen and (min-width: 1920px) {
  #w-node-_69b0d3f6-d0cc-2db5-ee2d-841bd3468614-d3468612 {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  #w-node-_199fb1dc-b4ea-99c3-f373-804a90f62445-d3468612 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media screen and (max-width: 991px) {
  #w-node-_199fb1dc-b4ea-99c3-f373-804a90f62445-d3468612 {
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  #w-node-_4f3de52d-435a-e06c-89eb-d73065ff7407-d3468612 {
    justify-self: stretch;
  }
  #w-node-b125d99d-9df6-b9e2-76fb-ce0982e13f22-d3468612 {
  }
  #w-node-c05fe523-5a2a-b171-9eca-362095d4bf72-d3468612 {
    grid-column-end: 3;
  }
}
@media screen and (max-width: 479px) {
  #w-node-_92abb93c-eb64-1a87-ea32-98e9c6f1d678-d3468612 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_79f06489-7e06-7f99-e512-95fb9ce71914-d3468612 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-a4181ea1-b90f-dce7-1ff2-23e3139ba539-d3468612 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-c05fe523-5a2a-b171-9eca-362095d4bf72-d3468612 {
    grid-column-end: 3;
  }
}