.small-card {
  display: grid;
  padding: 36px;
  justify-items: start;
  align-items: start;
  align-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(225.00000000000003, 30.77%, 94.90%, 0.60);
  border-radius: 2px;
}

@media screen and (min-width: 1440px) {
  .small-card {
    grid-row-gap: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .small-card {
    grid-row-gap: 60px;
  }
}

.subtitle {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subtitle.small {
  font-size: 8px;
}

.subtitle.white {
  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .subtitle.white.display-none {
    display: none;
  }
}

.subtitle.large {
  font-size: 14px;
}

.subtitle.green {
  color: var(--teal);
}

.stacked-description {
  display: grid;
  justify-items: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.body-display {
  color: var(--bodyDisplay-16f353f2);
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
}

.body-display.large {
  color: var(--bodyDisplay-16f353f2);
  font-size: 19px;
}

.body-display.small {
  font-size: 14px;
  line-height: 1.4em;
}

.body-display.small.through {
  text-decoration: line-through;
}

.body-display.small.dark {
  color: var(--black);
  font-weight: 700;
  text-decoration: underline;
}

.body-display.white {
  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

#w-node-_16ba2848-88bf-c8f2-c4ef-10e3ffe47d1c-ffe47d15 {
}