.stat-container {
  overflow: hidden;
  min-width: 22rem;
  flex: 1;
  border-radius: var(--corner);
  box-shadow: 4px 9px 20px -3px rgba(0,0,0,0.2);
}

.stat-container-header {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  background-color: var(--dark-outline);
}

.stat-header-icon-wrapper {
  width: 32px;
  height: 32px;
}

.stat-container-body {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.stat-container-body:where(.w-variant-1cc07ec0-83eb-af2a-b096-213283aa030e) {
  flex-direction: row;
  flex-wrap: wrap;
}

.slot:where(.w-variant-1cc07ec0-83eb-af2a-b096-213283aa030e) {
  flex: 1;
}