.status {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--indicator-outline);
  border-radius: var(--corner);
}

.status:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.status-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.status-alert {
  width: 15px;
  height: 15px;
  border-radius: 80px;
  background-color: var(--travel-green);
}

.status-alert:where(.w-variant-0693249f-9166-9afd-56f2-828b270747dc) {
  background-color: var(--body-display);
}

.lower-stat-bar {
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.properties {
  display: flex;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: var(--body-display);
}

.property-quantity {
  display: flex;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.property-value {
  text-transform: lowercase;
}

.stat-bar-right-side {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: var(--travel-green);
  text-align: right;
}