.steps-card {
  position: relative;

  display: grid;
  min-height: 275px;
  padding: 24px;
  align-items: center;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border: 1px solid var(--indicatorOutline-59b47200);
  border-radius: 5px;
}

@media screen and (min-width: 1280px) {
  .steps-card {
    padding: 36px;
  }
}

.steps-circle {
  position: absolute;
  left: -86px;
  top: 36px;
  right: auto;
  bottom: auto;

  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;

  border: 0px none var(--indicatorOutline-59b47200);
  border-radius: 100px;
}

.steps-circle:where(.w-variant-5b6f227c-eea1-2567-c302-03186e5adcaf) {
  display: none;
}

@media screen and (max-width: 479px) {
  .steps-circle {
    display: none;
  }
}

.steps-circle.center {
  top: auto;
}

.steps-dot {
  position: relative;
  z-index: 10;

  width: 12px;
  height: 12px;

  border-radius: 100px;

  background-color: var(--indicatorOutline-59b47200);
}

.card-arrow {
  position: absolute;
  left: auto;
  top: auto;
  right: -51px;
  bottom: auto;

  width: 24px;
  height: 24px;

  border-style: none none solid solid;
  border-width: 1px;
  border-color: var(--indicatorOutline-59b47200);
  border-bottom-left-radius: 3px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  transform: rotate(45deg);
}

.steps-circle-outline {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 2px solid var(--indicatorOutline-59b47200);
  border-radius: 100%;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.steps-circle-outline.two {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.steps-content {
  display: grid;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.steps-icon {
  position: relative;
  z-index: 10;

  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--indicatorOutline-59b47200);
  border-radius: 100%;

  background-color: var(--greyBackground-53c93696);

  color: var(--bodyDisplay-16f353f2);
  font-weight: 700;
}

.text-block:where(.w-variant-5b6f227c-eea1-2567-c302-03186e5adcaf) {
  display: none;
}

.benefit-icon {
  width: 60px;
  height: 60px;
  padding: 16px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--indicatorOutline-59b47200);
  border-radius: 100%;

  background-color: var(--greyBackground-53c93696);

  color: var(--bodyDisplay-16f353f2);
  font-size: 16px;
  font-weight: 700;
}

.benefit-icon:where(.w-variant-5b6f227c-eea1-2567-c302-03186e5adcaf) {
  display: flex;
}

.benefit-icon.component {
  display: none;
}

.benefit-icon.component:where(.w-variant-5b6f227c-eea1-2567-c302-03186e5adcaf) {
  display: block;
}

.steps-description {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.body-display {
  color: var(--bodyDisplay-16f353f2);
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
}

.body-display.large {
  color: var(--bodyDisplay-16f353f2);
  font-size: 19px;
}

.body-display.small {
  font-size: 14px;
  line-height: 1.4em;
}

.body-display.small.through {
  text-decoration: line-through;
}

.body-display.small.dark {
  color: var(--black);
  font-weight: 700;
  text-decoration: underline;
}

.body-display.white {
  color: hsla(229.56521739130437, 0.00%, 100.00%, 1.00);
}

#w-node-d46c5676-0d62-5e2e-a140-d1833fa23a02-3fa239fd {
  align-self: stretch;
}
#w-node-d46c5676-0d62-5e2e-a140-d1833fa23a03-3fa239fd {
  align-self: start;
  justify-self: start;
}
#w-node-_598a30e7-24a0-e77f-96da-e9b28c44d513-3fa239fd {
  align-self: start;
  justify-self: start;
}
#w-node-_598a30e7-24a0-e77f-96da-e9b28c44d513-3fa239fd:where(.w-variant-5b6f227c-eea1-2567-c302-03186e5adcaf) {
}
#w-node-d46c5676-0d62-5e2e-a140-d1833fa23a06-3fa239fd {
  align-self: end;
}